/* MOBILE */

@media (max-width: 768px) {


section .mobile-head{
    display: flex;
    background-color: #132945;
    justify-content: space-around;
    margin-bottom: 40px;
    align-items: center;
}

section .mobile-head img{
    transform: translateY(20px);
    width: 144px;
    height: 144px;
}

section .desktop-head{
    display: none;
}

section .mobile-head h1{
    color: #FFF;
    text-align: right;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #66CCFF;
    padding-bottom: 8px;
}

section .mobile-about-text{
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    transform: translateY(-40px);
}

section .mobile-about-text p{
    margin: 40px 20px 0px 20px;
    color: #153764;
    text-align: left;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

section .title h1{
    color: #153764;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

section .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    gap: 30px;
}
}


/* TABLET & DESKTOP */
@media (min-width: 768px){
    header .navbar {
        display: none;
    }

    header div .top-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 26px 28px 26px 28px;
    }

    section .mobile-section{
        display: none;
    }

    section .desktop-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 100px 100px;
        align-items: center;
    }

    section .desktop-head h1{
        color: #153764;
        text-align: left;
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        padding-left: 20px;
        padding-bottom: 10px;
    }

    section .icon img{
        display: none;
    }

    
    section .about-text p{
        width: 70%;
        padding-left: 20px;
        color: #153764;
        text-align: left;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
    }
    

    section .title h1{
        color: #153764;
        text-align: center;
        font-size: 26px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
    }

    section .cards{
        display: flex;
        gap: 30px;
        justify-content: space-around;
        margin: 50px;
    }
}
